html, 
body,
p,
img
{ 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: #f5f5f5;
}


.container {
    width: 375px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.container-feed {
    width: 375px;
    margin: 0 auto;
    height: 100vh;
    background-color: #ededed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c6c6c6;
    height: 67px;
    padding: 5px 15px;
}

.header-logo {
    width: 127px;
}

.profile-img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}

.post:not(:last-child) {
  border-bottom: 5px solid #ededed;
}

.post-user-info {
    height: 34px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user-avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.post-user-details {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.post-user-fullname {
    font-size: 13px;
    font-weight: bold;
}

.post-user-location {
    font-size: 12px;
}

.post-img {
    max-width: 100%;
}

.post-body {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 15px;
}

.container-icons {
    display: flex;
    gap: 15px;
}

.post-icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.post-icon {
    height: 26px;
}

.post-icon-btn:hover,
.post-icon-btn:focus {
    opacity: 60%;
}

.post-username, .post-like-count {
    font-weight: bold;
}

.post-headline {
    line-height: 20px;
}

.icon-heart.liked {
    /* Turns black/gray into a "Like" Red/Pink */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(311deg) brightness(100%) contrast(101%);
    
    /* Optional: adds a smooth transition effect */
    transition: filter 0.2s ease;
}